
tabelog_spider/tabelog_spider/spiders/restaurants_part1.txt
tabelog_spider/tabelog_spider/spiders/restaurants_part2.txt
tabelog_spider/tabelog_spider/spiders/tabelog_shopid.csv
tabelog_spider/tabelog_spider/tabelog_review.csv
tabelog_spider/tabelog_spider/tabelog.csv
